:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --img-overlay-bg-color: rgba(47, 48, 58, 0.4);
  --img-text-bg-color: rgba(47, 48, 58, 0.8);
  --third-background-color: #f5f4fa;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --text-color-white: #ffffff;
  --text-color-contacts-footer: rgba(255, 255, 255, 0.6);
  --text-color-logo: #000000;
  --hover-color-button: #188ce8;
  --color-social-link: #afb1b8;
  --socils-bgc-footer: rgba(255, 255, 255, 0.1);
  --color-textarea: rgba(117, 117, 117, 0.5);
}
